@import "tailwindcss";
@import "@heroui/styles";

/*
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

@theme {
  /* add custom theme colors and vars here */
  --font-figtree: "Figtree", sans-serif;
  --color-brand: oklch(64.56% 0.1767 45.29);
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* theme color overrides (light) */
  --accent: oklch(64.56% 0.1767 45.29);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0015 45.29);
  --border: oklch(90% 0.0015 45.29);
  --danger: oklch(0.434 0.174 22.791);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0015 45.29);
  --default-foreground: oklch(21.03% 0.0059 45.29);
  --field-background: oklch(100% 0.0008 45.29);
  --field-foreground: oklch(21.03% 0.0015 45.29);
  --field-placeholder: oklch(55.17% 0.003 45.29);
  --focus: oklch(64.56% 0.1767 45.29);
  --foreground: oklch(21.03% 0.0015 45.29);
  --muted: oklch(55.17% 0.003 45.29);
  --overlay: oklch(100% 0.0004 45.29);
  --overlay-foreground: oklch(21.03% 0.0015 45.29);
  --scrollbar: oklch(87.1% 0.0015 45.29);
  --segment: oklch(100% 0.0015 45.29);
  --segment-foreground: oklch(21.03% 0.0015 45.29);
  --separator: oklch(92% 0.0015 45.29);
  --success: oklch(73.29% 0.1941 125.79);
  --success-foreground: oklch(21.03% 0.0059 125.79);
  --surface: oklch(100% 0.0008 45.29);
  --surface-foreground: oklch(21.03% 0.0015 45.29);
  --surface-secondary: oklch(95.24% 0.0012 45.29);
  --surface-secondary-foreground: oklch(21.03% 0.0015 45.29);
  --surface-tertiary: oklch(93.73% 0.0012 45.29);
  --surface-tertiary-foreground: oklch(21.03% 0.0015 45.29);
  --warning: oklch(78.19% 0.159 47.31);
  --warning-foreground: oklch(21.03% 0.0059 47.31);

  /* Border Radius */
  --radius: 0.125rem;
  --field-radius: 0.125rem;

  /* Font Family */
  --font-sans: var(--font-figtree);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* theme color overrides (dark) */
  --accent: oklch(0.698 0.165 48.597);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.0015 45.29);
  --border: oklch(28% 0.0015 45.29);
  --danger: oklch(0.434 0.174 22.791);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0015 45.29);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.003 45.29);
  --field-foreground: oklch(99.11% 0.0015 45.29);
  --field-placeholder: oklch(70.5% 0.003 45.29);
  --focus: oklch(64.56% 0.1767 45.29);
  --foreground: oklch(99.11% 0.0015 45.29);
  --muted: oklch(70.5% 0.003 45.29);
  --overlay: oklch(21.03% 0.003 45.29);
  --overlay-foreground: oklch(99.11% 0.0015 45.29);
  --scrollbar: oklch(70.5% 0.0015 45.29);
  --segment: oklch(39.64% 0.0015 45.29);
  --segment-foreground: oklch(99.11% 0.0015 45.29);
  --separator: oklch(25% 0.0015 45.29);
  --success: oklch(73.29% 0.1941 125.79);
  --success-foreground: oklch(21.03% 0.0059 125.79);
  --surface: oklch(21.03% 0.003 45.29);
  --surface-foreground: oklch(99.11% 0.0015 45.29);
  --surface-secondary: oklch(25.7% 0.0023 45.29);
  --surface-secondary-foreground: oklch(99.11% 0.0015 45.29);
  --surface-tertiary: oklch(27.21% 0.0023 45.29);
  --surface-tertiary-foreground: oklch(99.11% 0.0015 45.29);
  --warning: oklch(82.03% 0.1392 51.32);
  --warning-foreground: oklch(21.03% 0.0059 51.32);
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant horizontal (&:where([data-orientation="horizontal"]));
@custom-variant vertical (&:where([data-orientation="vertical"]));
@custom-variant placement-left (&:where([data-placement~="left"]));
@custom-variant placement-right (&:where([data-placement~="right"]));
@custom-variant placement-top (&:where([data-placement~="top"]));
@custom-variant placement-bottom (&:where([data-placement~="bottom"]));
@custom-variant placeholder (&:where([data-placeholder]));
@custom-variant selection-single (&:where([data-selection-mode="single"]));
@custom-variant selection-multiple (&:where([data-selection-mode="multiple"]));
@custom-variant open (&:where([open], [data-open], :open));
@custom-variant closed (&:where(:not([open], [data-open], :open)));
@custom-variant expanded (&:where([expanded], [data-expanded]));
@custom-variant entering (&:where([data-entering]));
@custom-variant exiting (&:where([data-exiting]));
@custom-variant invalid (&:where([invalid], [data-invalid], :invalid));
@custom-variant read-only (&:where([readonly], [data-readonly], :read-only));
@custom-variant pending (&:where([data-pending]));
@custom-variant empty (&:where([data-empty], :empty));
@custom-variant focus (&:where([data-focused], :focus));
@custom-variant focus-within (&:where([data-focus-within], :focus-within));
@custom-variant focus-visible-within (&:where(:has([data-focus-visible], :focus-visible)));
@custom-variant focus-visible (&:where([data-focus-visible], :focus-visible));
@custom-variant pressed (&:where([data-pressed], :active));
@custom-variant selected (&:where([data-selected], :checked));
@custom-variant selection-start (&:where([data-selection-start]));
@custom-variant selection-end (&:where([data-selection-end]));
@custom-variant disabled (&:where([disabled], [data-disabled], :disabled));
