@import '@fontsource/geist-sans';
@import '@fontsource/geist-mono';
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-gray-01: #ffffff;
  --color-gray-02: #e6e6e6;
  --color-gray-03: #898989;
  --color-gray-04: #686868;
  --color-gray-05: #565656;
  --color-gray-06: #424242;
  --color-gray-07: #383838;
  --color-gray-08: #2f2f31;
  --color-gray-09: #222222;
  --color-gray-10: #0b0b0b;
  --color-gray-11: #000000;

  --color-warm-01: #f4ebdd;
  --color-warm-02: #ebddcb;
  --color-warm-03: #dfceb5;
  --color-warm-04: #d2bd9f;
  --color-warm-05: #c6ae8a;
  --color-warm-06: #b8a180;
  --color-warm-07: #a69073;
  --color-warm-08: #988169;
  --color-warm-09: #87715d;

  --color-cool-01: #eceff1;
  --color-cool-02: #cfd8dc;
  --color-cool-03: #b0bec5;
  --color-cool-04: #90a4ae;
  --color-cool-05: #78909c;
  --color-cool-06: #607d8b;
  --color-cool-07: #546e7a;
  --color-cool-08: #455a64;
  --color-cool-09: #37474f;
  --color-cool-10: #263238;

  --color-brand-01: #fff3e0;
  --color-brand-02: #ffe0b2;
  --color-brand-03: #ffcc80;
  --color-brand-04: #ffb74d;
  --color-brand-05: #ffa726;
  --color-brand-06: #ff9800;
  --color-brand-07: #fb8c00;
  --color-brand-08: #f57c00;
  --color-brand-09: #ef6c00;
  --color-brand-10: #e65100;

  --color-success-01: #e0f7d4;
  --color-success-02: #b6eb9c;
  --color-success-03: #84cf65;
  --color-success-04: #70b959;
  --color-success-05: #3c813c;

  --color-warning-01: #feedcc;
  --color-warning-02: #FBC02D;
  --color-warning-03: #fca400;
  --color-warning-04: #976201;
  --color-warning-05: #322100;

  --color-critical-01: #FFCDD2;
  --color-critical-02: #E57373;
  --color-critical-03: #F44336;
  --color-critical-04: #B71C1C;
  --color-critical-05: #601b07;

  --shadow-raised: 0 5px 5px 0 rgba(0 0 0 / 0.2), 0 3px 14px 0 rgba(0 0 0 / 0.12), 0 8px 10px 0 rgba(0 0 0 / 0.14);

  --font-geist: "Geist Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-geist-mono: "Geist Mono", monospace;
}

@layer theme {
  .dark {
    --color-surface: var(--color-cool-08);
    --color-outline: var(--color-gray-07);
    --color-ring: var(--color-gray-05);

    --color-fg-muted: var(--color-gray-05);
    --color-fg-default: var(--color-gray-02);
    --color-fg-bold: var(--color-gray-01);

    --color-critical-muted: var(--color-critical-05);
    --color-critical: var(--color-critical-04);
    --color-critical-bold: var(--color-critical-02);

    /** required defaults for ShadCN theme vars **/
    --color-background: var(--color-gray-08);
    --color-foreground: var(--color-gray-01);
    --color-primary: var(--color-gray-01);
    --color-primary-foreground: var(--color-gray-08);
    --color-secondary: var(--color-gray-07);
    --color-secondary-foreground: var(--color-gray-03);
    --color-muted: var(--color-gray-08);
    --color-muted-foreground: var(--color-gray-03);
    --color-accent: var(--color-gray-08);
    --color-accent-foreground: var(--color-gray-02);
    --color-sidebar: var(--color-gray-09);
    --color-sidebar-foreground: var(--color-gray-01);
    --color-sidebar-primary: var(--color-brand-08);
    --color-sidebar-primary-foreground: var(--color-gray-01);
    --color-sidebar-accent: var(--color-gray-07);
    --color-sidebar-accent-foreground: var(--color-gray-01);
    --color-sidebar-ring: var(--color-gray-06);
    --color-sidebar-border: var(--color-gray-04);

    --color-input: var(--color-gray-08);
    --color-destructive: var(--color-critical-02);
    --color-popover-foreground: var(--color-gray-01);
    --color-popover: var(--color-gray-09);
  }
}

@theme {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --color-bfs: var(--color-brand-06);
  --color-bfs-muted: var(--color-brand-02);
  --color-bfs-deep: var(--color-brand-09);

  --color-surface: var(--color-cool-01);
  --color-outline: var(--color-gray-03);
  --color-ring: var(--color-gray-03);

  --color-fg-muted: var(--color-gray-05);
  --color-fg-default: var(--color-gray-08);
  --color-fg-bold: var(--color-gray-09);

  --color-critical-muted: var(--color-critical-01);
  --color-critical: var(--color-critical-04);
  --color-critical-bold: var(--color-critical-05);

  --text-xxl: 32px;
  --text-xl: 24px;
  --text-lg-size: 18px;
  --text-md-size: 14px;
  --text-sm-size: 12px;
  --text-xs-size: 10px;
  --text-xxs-size: 9px;

  --spacing-none: 0px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 40px;

  /** required defaults for ShadCN theme vars **/
  --color-background: var(--color-gray-01);
  --color-foreground: var(--color-gray-08);
  --color-primary: var(--color-gray-08);
  --color-primary-foreground: var(--color-gray-01);
  --color-secondary: var(--color-gray-02);
  --color-secondary-foreground: var(--color-gray-07);
  --color-muted: var(--color-gray-02);
  --color-muted-foreground: var(--color-gray-08);
  --color-accent: var(--color-gray-02);
  --color-accent-foreground: var(--color-gray-08);
  --color-sidebar: var(--color-gray-01);
  --color-sidebar-foreground: var(--color-gray-08);
  --color-sidebar-primary: var(--color-gray-07);
  --color-sidebar-primary-foreground: var(--color-gray-02);
  --color-sidebar-accent: var(--color-gray-03);
  --color-sidebar-accent-foreground: var(--color-gray-08);
  --color-sidebar-ring: var(--color-gray-04);
  --color-sidebar-border: var(--color-gray-05);
  --color-chart-5: var(--color-brand-06);
  --color-chart-4: var(--color-indigo-500);
  --color-chart-3: var(--color-green-800);
  --color-chart-2: var(--color-red-700);
  --color-chart-1: var(--color-fuchsia-800);
  --color-destructive: var(--color-critical-04);
  --color-popover-foreground: var(--color-gray-09);
  --color-popover: var(--color-gray-02);
  --color-border: var(--color-gray-03);
  --radius-sm: var(--spacing-xs);
  --radius-md: var(--spacing-sm);
  --radius-lg: var(--spacing-md);
  --radius-xl: var(--spacing-lg);
}

@utility outline {
  outline-offset: -1px;
}

@layer base {
  body {
    @apply font-sans;
  }
}
