name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm test
      - run: pnpm run format
      - run: git diff --exit-code # fail if any dirtiness was created
      - run: pnpm run build # includes typechecking
